:root{
    --primary-color: #D7D0C8;
    --secondary-color: #2D2A32;
    --secondary-color-light: #44404a;
    --secondary-color-dark: #1f1b24;
    --accent-color: #9D8DF1;
    --secondary-accent-color: #109648;
    --accent-color-light: #FF6978;
}

body{
    background: var(--secondary-color);
    color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;

    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    box-shadow: 0 0 5px 2px var(--accent-color);

    backdrop-filter: blur(8px);

    position: sticky;
    top: 1%;
    left: 1.25%;
    right: 1.25%;
    z-index: 100;
}

#status{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#statusIndicator{
    font-size: 1.2em;
}

@media (max-width: 600px) {
    #statusText{
        display: none;
    }
    #statusIndicator{
        font-size: 1.3em;
        padding-right: 15%;
    }
}

.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

    margin: 3em;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color-light);
    border-radius: 15px;
    box-shadow: 0 0 4px 0.5px var(--secondary-color-light);

    width: 95%;
    inset: 0;
    margin: auto;
    margin-top: 3em;
}

#actions{
    display: flex;
    flex-direction: column;
    gap: 15px;

    align-items: center;
    justify-content: space-between;
    padding: 10px;

    width: 100%;

    transition: all 0.2s ease-in-out;
} 

#actionButtons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
}

.actionButton{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color-light);
    background: var(--secondary-color-light);
    border-radius: 15px;
    transition: all 0.2s;
    padding: 10px;
}

@media (min-width: 800px) {
    .actionButton:hover{
    background: var(--secondary-color-dark);
    border-color: var(--accent-color);
    box-shadow: 0 0 5px 1px var(--accent-color);
    }
}

.actionButton:active{
    transform: scale(0.9);
}

.actionButtonText{
    font-size: 1em;
}

@media (max-width: 600px) {
    .actionButtonText{
        font-size: 0.75em;
    }
}

#whitelist{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.inputField{
    padding: 10px;
    border-style: none;
    border-radius: 15px;
    background: var(--secondary-color-light);
    color: var(--primary-color);
    margin-bottom: 5px;
}

.consoleDivider{
    width: 95%;
    border-style: none;
    border-top: 1px solid var(--secondary-color-light);
    border-radius: 75px;
    margin-top: 0;
}

.contentTitle{
    margin-bottom: 0;
}

#consoleOutput{
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    max-height: 400px;
    overflow: scroll;
    width: 80%;
}

.consoleInput{
    width: 80%;
}

@media (max-width: 600px) {
    #consoleOutput{
        width: 95%;
        font-size: 0.6em;
    }
}

.fa-spinner {
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#consoleSendButton{
    padding: 10px;
    width: 15%;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 15px;
    background: var(--secondary-accent-color);
    color: var(--primary-color);
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

#consoleSendButton:active{
    transform: scale(0.9);
}

#whitelistSend:active{
    transform: scale(0.9);
}

.output {
    display: flex;
    box-shadow: 0 0 20px 0.25px var(--secondary-color-dark);
    width: 70%;
    padding: 12px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    min-height: 5pt;
    overflow: hidden;
    transition: all 0.3s ease;
}

.outputHidden{
    max-height: 0 !important;
    min-height: 0 !important;
    opacity: 0 !important;
    padding:0 !important;
    margin:0 !important;
}

#logoutButton{
    background: var(--secondary-color-light);
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 1em;
    transition: all 0.15s ease-in-out;
}

#logoutButton:active{
    transform: scale(0.9);
}

@media (max-width: 600px) {
    #logoutButton{
        padding: 5px;
        font-size: 0.75em;
    }
}

#footer{
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid var(--secondary-color-light);
    margin-top: 5%;
    position: relative;
    bottom: 0;
}

#version{
    color: var(--accent-color);
    text-decoration: bold;
}

.serverStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color-light);
    border-radius: 15px;
    padding: 1.75%;
    box-shadow: 0 0 5px 1px var(--secondary-color-light);
    margin-bottom: 2%;
}

.serverStatsContent{
    font-family: 'Courier New', Courier, monospace;
}

.serverStatsContent{
    color: var(--accent-color);
    text-decoration: bold;
    font-size: 1.2em;
}